<?xml version="1.0"?>
<launch>
	<include file = "$(find mavros)/launch/px4.launch">
		<arg name="fcu_url" value="/dev/ttyUSB0:921600" />
		<arg name="gcs_url" value="udp://@192.168.10.2" />
	</include>
	<include file="$(find vrpn_client_ros)/launch/sample.launch">
		<arg name="server" value="192.168.10.1" />
	</include>
	<node name="relay" type="relay" pkg="topic_tools" args="/vrpn_client_node/LQR_drone/pose /mavros/vision_pose/pose" />
</launch>